@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina03-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina03-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina03-bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: bold;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 670px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.profile p {
    margin-top: -10px; /* Decrease the bottom margin */
    font-size: 15px;
}

.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #fff;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

h3 {
    margin-top: -10px;
    font-size: 12px;
    font-weight: 400;;
    color: #666;
    text-align: left;
}

p {
    color: #666;
}



.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icons a {
    margin: 0 5px; /* Reduced margin */
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    transition: transform 0.2s; /* Smooth transition for scaling */
}

.social-icons a:hover,
.social-icons a:active {
    transform: scale(1.1); /* Slightly scale up on hover and when pressed */
}

.section {
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
}

.section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.card {
    position: relative;
    background-color: #f5f5f5;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover, .card:active {
    transform: scale(1.03); /* Scale up the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow for a lifting effect */
}

.card img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.card-text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    text-align: left;
    border-radius: 0 0 10px 10px;
}

.card-text p {
    margin: 0;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.card-link {
    display: block;
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit text color */
}

.card-link:hover .card,
.card-link:active .card {
    transform: scale(1.05); /* Slightly scale up on hover and when pressed */
    transition: transform 0.2s; /* Smooth transition for scaling */
}

/* Media query for desktop layout */
@media (min-width: 768px) {

    .body {
        justify-content: center;
        align-items: flex-start;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        align-self: center;
        margin-bottom: 100px;
        border-radius: 25px;
    }

    .profile-img {
        margin-top: 0;
        width: 115px;
        height: 115px;
    }

    .section {
        width: 85%;
        align-items: center;
    }

    h3 {
        font-size: 14px;
    }
}